.product-name {
    font-size: 32px;
    color: var(--dark-gray);
    width: 50%;
    margin: 10px 0 10px 0;
}

.product-reference {
    font-size: 12px;
    color: var(--dark-gray-3);
    margin: 0;
}

.buybox-component {
    /* background-color: burlywood; */
    background-color: var(--light-gray-3);
    width: 900px;
    padding: 0 50px 0 50px;
}

.star {
    display: flex;
    gap: 10px;
    background-color: var(--warning);
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--dark-gray-2);
    border-radius: 4px;
}

.star-rating {
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
}

.star-rating > h4 {
    color: var(--light-gray);
    font-size: 14px;
}

.price-discount {
    display: flex;
    /* background-color: brown; */
    align-items: baseline;
    gap: 20px;
}

.product-description {
    color: var(--dark-gray-2);
    font-size: 14px;
    width: 50%;
}

.price-product-view {
    color: var(--dark-gray-2);
    font-size: 32px;
}

.discount-product-view {
    color: var(--dark-gray-2);
    font-size: 32px;
}

.children-section {
    display: flex;
    justify-content: left;
}

button {
    margin: 10px 0 0 0;
    background-color: var(--warning);
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 4px;
    font-size: 16px;
    color: var(--white);
}
    
