footer {
    background-color: var(--dark-gray);
    color: var(--white);
    margin: 0;
    padding: 0px 100px 0px 100px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-info {
    display: flex;
    flex-flow: row wrap;
    padding: 100px 100px 20px 100px;
    gap: 150px;
}

.social-icons {
    display: flex;
    gap: 30px;
}

hr {
    margin: 0 100px;
}

.copyright {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 0; 
}


