.slide {
    /* background-color: aqua; */
    /* padding: 10px; */
    position: relative;
    display: flex;
    justify-content: center;
}

/* .thumbs {
    display: flex;
    justify-content: center;
    background-color: bisque;
} */

.miniatura {
    padding: 40px 0 10px 0;
    display: flex;
    justify-content: center;
}

.miniatura > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
}

.miniatura > ul > li > img{
    padding: 0;
}

.selected-thumbnail {
    border: 2px solid var(--primary) !important;
    cursor: pointer;
}

.img-thumbnail {
    border: 2px solid transparent;
    box-sizing: border-box;
    width: 117px;
    height: 95px;
    object-fit: cover;
    outline: none; /* Remove contornos focados */
    padding: 0;
    margin: 0;
    display: block; /* Remove espaços abaixo da imagem */
}

.img-thumbnail:hover {
    border: 2px solid var(--primary);
    cursor: pointer;
}
