.slide {
    /* background-color: aqua; */
    background-color: var(--light-gray-3);
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.thumbs {
    display: flex;
    justify-content: center;
    background-color: bisque;
}