.product-page {
    display: flex;
    justify-content: center;
    background-color: var(--light-gray-3);
    /* background-color: #F9F8FE; */
    padding: 0 200px 0 200px;
}

.product-listing {
    width: 1500px;
}

.product-filtering {
    display: flex;
    flex-flow: column nowrap;
}

.ordenar-por {
    font-size: 16px;
    color: var(--dark-gray-2);
    padding: 40px 0 20px 0;
}

.select-dropbox {
    width: 308px;
    height: 60px;
    border-radius: 8px;
    background-color: var(--white);
}

.label-dropbox {
    margin: 5px 0 5px 0;
}

.product-checkbox {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--white);
    padding: 10px 20px 20px 20px;
    width: 308px;
    border-radius: 8px;
}

.product-checkbox > h3 {
    color: var(--dark-gray-2);
    font-size: 16px;
}

.product-checkbox > hr {
    border-color: var(--light-gray-2);
    border-width: 1px;
    margin: 5px;
}
