.product-main-page {
    background-color: red;
}

.filtrar-por {
    background-color: var(--white);
    width: 308px;
    margin: 10px;
}

.filtrar-por > h3 {
    color: var(--dark-gray-2);
    font-size: 16px;
}

hr {
    border-color: var(--light-gray-2);
}