.product-list-ul {
    display: flex;
    flex-wrap: wrap; /* Quebra para a próxima linha quando necessário */
    gap: 16px; /* Espaço entre os cards */
    padding: 0; /* Remove padding padrão do <ul> */
    margin: 0; /* Remove margem padrão do <ul> */
    list-style: none; /* Remove marcadores de lista */
    justify-content: center;
    background-color: aqua;
}

.product-list-li {
    flex: 0 0 calc(25% - 16px); /* 4 colunas (25% cada) com ajuste para o gap */
    box-sizing: border-box; /* Garante que padding não estoure a largura */
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}