.general-section {
    /* display: flex; */
    position: relative;
    margin: 20px;
}

.header-section {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    background-color: var(--light-gray-3);
    padding: 20px 0 14px 0;
}

.title-section {
    display: flex;
    /* justify-content: flex-start; */
    /* background-color: blueviolet; */
    color: var(--dark-gray-2);
    font-size: 24px;
}

.link-section {
    /* display: flex; */
    /* justify-content: flex-end; */
    /* background-color: rgb(169, 206, 175); */
    position: absolute;
    right: 30px;
    top: 22px;
}  

.link-section > a{
    text-decoration: none;
    color: var(--primary);
    font-size: 18px;    
}

.children-section {
    display: flex;
    justify-content: center;
}